@model LocMan.Models.Region

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Region</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionPopulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionPopulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionDigitalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionDigitalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionIncorporatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionIncorporatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionIsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionIsActive)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionCreatedOn)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionUpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionUpdatedOn)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionCreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionCreatedByNavigation.FirstName)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionUpdatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionUpdatedByNavigation.FirstName)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RegionId">Edit</a> |
    <a asp-action="SeeRegion">View All RegionS</a>
</div>
